.about-page
{
	height: 100vh;
	max-height: 100vh;
	background-color: black;
	color: black;
	display: grid;
	position: relative;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1.2em;
	grid-template-areas:'. . . . . .' 
						'. me me lang lang .'
						'. me me lang lang .'
						'. . . . . .'
}

.about-lang
{
	background-color: rgba(0, 0, 0, 0.9);
	grid-area: lang;
	border: 1px #E8E8E8FF;
	border: 1px solid #E8E8E8FF;
}

.lang-header
{
	font-size: 30px;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-bottom: 1px solid #E8E8E8FF;
	background-color: #E8E8E8FF;
	font-weight: bolder;
} 

.lang-text
{
	color: #E8E8E8FF;
	padding: 2em;
	font-weight: normal;
}


.about-me
{
	background-color: rgba(0, 0, 0, 0.9);
	grid-area: me;
	border: 1px solid #E8E8E8FF;
	mix-blend-mode: difference;
}

.me-header
{
	font-size: 30px;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: #E8E8E8FF;
	border-bottom: 1px solid #E8E8E8FF;
	font-weight: bolder;
}

.me-text
{
	color: #E8E8E8FF;
	padding: 2em;
	font-weight: normal;
}

.secret
{
	color: black;
	background-color: #E8E8E8FF;
	position: absolute;
	top: 100%;
}