.educ-page
{
	height: 100vh;
	max-height: 100vh;
	position: relative;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr 2fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: 'stroke stroke stroke' 'ball1 infinity .' '. line ball2' '. info .';
	background-color: white;
	grid-gap: 1em;
}

.educ-infinity
{
	justify-self: center;
	align-self: end;
	grid-area: infinity;
	height: 100%;
	width: 100%;
	background-image: url('../images/infinity.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.strokes
{
	grid-area: stroke;
}

.educ-line
{
	grid-area: line;
	color: black;
	justify-self: center;
	align-self: center;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
}

.educ-info
{
	grid-area: info;
	color: black;
}

.educ-info > span
{
	display: block;
	font-size: 20px;
	line-height: 1.5em;
}

.ball1
{
	grid-area: ball1;
	height: 10em;
	width: 10em;
	border-radius: 50%;
	background-color: black;
	justify-self: end;
	align-self: end;
	animation: jump 5s ease-in-out infinite;
}

.ball2
{
	grid-area: ball2;
	height: 9em;
	width: 9em;
	border-radius: 50%;
	background-color: black;
	justify-self: start;
	align-self: end;
	animation: jump 5s ease-in-out infinite;
	animation-delay: 2s;
}

@keyframes jump {
	0% {
		transform: translate(0, 0) scale(1);
	}

	50% {
		transform: translate(0, 100px) scale(0.9);
	}

	100% {
		transform: translate(0, 0) scale(1);
	}
}