@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');

*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #000;
	font-family: 'Inter', sans-serif;
	color: #E8E8E8FF;
	font-size: 17px;
	box-sizing: border-box;
}

a
{
	text-decoration: none;
	color: #E8E8E8FF;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

@media screen and (max-width: 991px)
{

.main-content
{
	grid-template-areas: 'image''text';
	grid-template-columns: 1fr;
	grid-gap: 1em;
	max-height: 50%;
}

#main-typing-text
{
	hyphens: auto;
	font-size: 5vw;
	display: inline-block;
}

.main-text
{
	justify-self: center;
	align-self: center;
/* 	grid-area: text; */
	margin: 2em;
}

.main-image
{
	background-size: 100%;
	background-repeat: no-repeat;
}

}

@media screen and (max-width: 718px) {

/* ДЛЯ ТЕЛЕФОНОВ */
/* --------------------------------------- */

.header
{
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	height: 4em;
	background-color: rgba(0,0,0, 0.9);
}

.header-button-area
{
	float: left;
	height: 4em;
	display: none;
}

.header-logo
{
	width: 100%;
	padding-left: 1em;
}

.about-page
{
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas:'me me me me'  
						'me me me me' 
						'me me me me' 
						'lang lang lang lang' 
						'lang lang lang lang' 
						'lang lang lang lang';
}

.about-lang
{
	grid-area: lang;
}

.about-me
{
	grid-area: me;
}

}

@media screen and (max-width: 479px) {
/* стили для телефонов - начало */
#preloader > .logo
{
	font-size: 50px;
	justify-self: center;
	align-self: center;
	position: absolute;

}

#preloader > .logo > span
{
	font-size: 25px;
}
}